@tailwind base;
@tailwind components;
@tailwind utilities;

/* Website/App Design Inspiration

Buttons:
Default: Yellow (#FFEB46) background with black (#4A4A4A) text.
Hover: Light Green (#A9B8C3) background with white text.

*/

:root {
  --p-bg: #607D8B;
  --s-bg: #B58863;
  --p-text: #4A4A4A;
  --s-text: #D0D0D0;
  --p-highlight: #FFEB46;
  --p-warning: rgba(236, 119, 119, 1)
}


body {
  font-family: 'Poppins', sans-serif;
  
}
