@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --p-bg: #4A4A4A;
  --s-bg: #B58863;
  --p-text: #E0E0E0;
  --p-text-hover: #D4A373;
  --p-highlight: #FFFF99;
  --p-warning: rgba(224, 40, 40, 1);
}


body {
  font-family: 'Poppins', sans-serif;
  
}
